In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot

In [65]:
df_segments_name =  pd.read_csv("segment_dict.csv", delimiter=',')
df_segments_name

,Segment_num,Segment,Comment
0,0,Промо/Нет/Нет,Промо или Имидж/Доставка или нет/Лояльность ил...
1,1,Имидж/Нет/Нет,Промо или Имидж/Доставка или нет/Лояльность ил...
2,2,Имидж/Нет/Да,Промо или Имидж/Доставка или нет/Лояльность ил...
3,3,Промо/Доставка/Нет,Промо или Имидж/Доставка или нет/Лояльность ил...
4,4,Промо/Нет/Да,Промо или Имидж/Доставка или нет/Лояльность ил...
5,5,Имидж/Доставка/Нет,Промо или Имидж/Доставка или нет/Лояльность ил...
6,6,промо/Нет/Нет,Промо или Имидж/Доставка или нет/Лояльность ил...
7,7,Имидж,NaN
8,8,Кредитование,NaN
9,9,Range,NaN
10,10,Дебетовые карты,NaN
11,11,Услуги бизнесу,NaN
12,12,Кредитные карты,NaN
13,13,Инвестиционные продукты,NaN
14,14,Экосистемные сервисы,NaN
15,15,Музыка,NaN
16,16,Колонки+Голосовой помощник,NaN
17,17,Клипы,NaN
18,18,Соц сети,NaN

In [2]:
df_dashboard = pd.read_csv("dashboard_data.csv", delimiter=',')
df_segments_data = pd.read_csv("train_segments.csv", delimiter=',')
df_segments_data

       Advertisement ID  Segment_num
0               1831845           16
1               4467135           11
2               2285593            0
3               3825366            0
4               2313008            0
...                 ...          ...
17735           4299761            1
17736           2298577            0
17737           4018035            1
17738           3922868            0
17739           4527298            7

[17740 rows x 2 columns]

In [3]:
df_full_data = pd.merge(df_dashboard, df_segments_data, on='Advertisement ID', how='outer')

In [4]:
df_dashboard.sort_values('Estimated cost RUB').head(10)

,Advertisement ID,Advertiser,Brand,Media Type,Estimated cost RUB,Year,Month
193346,4165264,METRO GROUP,METRO,TV Reg,0.0,2021,7
172264,4130718,FIX PRICE,FIX PRICE,TV Nat,0.0,2021,5
172273,4130721,FIX PRICE,FIX PRICE,TV Nat,0.0,2021,5
342952,3798178,GOOGLE,GOOGLE,TV Reg,0.0,2019,7
342951,3798178,GOOGLE,GOOGLE,TV Reg,0.0,2019,7
172294,4130726,ТАНДЕР,МАГНИТ,TV Nat,0.0,2021,4
172313,4130726,ТАНДЕР,МАГНИТ,TV Nat,0.0,2021,5
172343,4130740,X5 RETAIL GROUP,ПЕРЕКРЕСТОК,TV Reg,0.0,2021,4
172348,4130740,X5 RETAIL GROUP,ПЕРЕКРЕСТОК,TV Reg,0.0,2021,4
172380,4131119,САМОКАТ,САМОКАТ,TV Reg,0.0,2021,4

In [67]:
df_full_data[df_full_data['Brand'].isin(["METRO", "МАГНИТ"])][df_full_data['Year'] == 2019]

,Advertisement ID,Advertiser,Brand,Media Type,Estimated cost RUB,Year,Month,Segment_num
33911,1837468,METRO GROUP,METRO,Radio,38000.000,2021,4,1
33912,1837468,METRO GROUP,METRO,Radio,0.000,2021,4,1
34965,2043139,METRO GROUP,METRO,Radio,121992.000,2019,1,0
34966,2043139,METRO GROUP,METRO,Radio,48576.000,2019,1,0
34967,2043139,METRO GROUP,METRO,Radio,112792.000,2019,1,0
...,...,...,...,...,...,...,...,...
371323,4320303,METRO GROUP,METRO,TV Reg,0.000,2022,6,0
371324,4320303,METRO GROUP,METRO,TV Reg,330.000,2022,6,0
371384,4321218,ТАНДЕР,МАГНИТ,TV Nat,33062.985,2022,6,1
371385,4321218,ТАНДЕР,МАГНИТ,TV Nat,104748.390,2022,6,1
371386,4321218,ТАНДЕР,МАГНИТ,TV Nat,1661.310,2022,6,1

In [63]:
df_test = df_dashboard.drop(columns=['Brand', 'Media Type', 'Year', 'Month', 'Advertisement ID'])
# data = df_test.groupby('Advertiser')['Estimated cost RUB'].sum().sort_values(ascending=False).head(10).to_frame()
df_dashboard.drop(columns=['Brand', 'Media Type', 'Year', 'Month', 'Advertisement ID']).groupby(['Advertiser'], as_index = False).agg({'Estimated cost RUB': 'sum'}).sort_values(by=['Estimated cost RUB'], ascending=False).head(10)['Advertiser']

119                 СБЕР
46       X5 RETAIL GROUP
127               ТАНДЕР
37     TCS GROUP HOLDING
66                   ВТБ
50            АЛЬФА-БАНК
90                 ЛЕНТА
125           СОВКОМБАНК
41                    VK
23           METRO GROUP
Name: Advertiser, dtype: object